EXPO_PUBLIC_SUPABASE_URL=https://vrfdgzmifxvifpttlyyc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QSVJx6SmW0Mj-oPSDUrv1A_RnuoBbuN
EXPO_PUBLIC_GROQ_API_KEY=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
